@import url("https://fonts.googleapis.com/css2?family=Overpass+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap");

h1 {
  text-align: center;
  font-family: 'IBM Plex Sans', 'Overpass Mono'
}

#infoContainer {
  width: 100%;
  height: 300px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  border-radius: 10px;
}

.indivInfo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  font-family: 'IBM Plex Sans', 'Overpass Mono';
}

.indivInfo:hover {
  background-color: rgb(170, 170, 170);
}

.darkColor {
  background-color: #cfcfcf;
}

.lightColor {
  background-color: #dfdfdf;
}

.tempDiv {
  width: 100%;
  text-align: center;
}

.arrow-down {
  position: absolute;
  content: '';
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid rgb(170, 170, 170);
  clear: both;
  transform: translateY(160px) 
}

.arrow-down:after {
  position: absolute;
  transform: translateX(50px) 
}

.wi-day-sunny {
  font-size: 34px;
  width: 100%;
  text-align: center;
}

.wi-day-cloudy {
  font-size: 34px;
  width: 100%;
  text-align: center;
}